.navbar {
    background-color: #004da1;
    backdrop-filter: blur(2px);
}

.navbar .navbar-brand {
    color: #2cc290;
    font-weight: bold;

}

.navbar-nav .nav-item .nav-link {
    color: #fcfdeb;
}